/* latin */
@font-face {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/amaranth/v18/KtkuALODe433f0j1zMnFHdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.TolbarContent{
    position: relative;
    padding: 0px;
    height: 90vh;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
    margin: auto;
    margin-top: 2vw;
}

.droneImg{
    margin-top: 15px;
    width: 80%;
    height: 60%;
}

.logo.closed{
    display: flex;
    justify-content: center;
    width: 80%;
    
    margin: auto;
    margin-top: 2vw;
}

.LogoImg{
    width: 4vw;
    height: 4vw;
    background-color: #5DB075;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.LogoImg.closed{
    width: 4vw;
    height: 3.8vw;
    background-color: #5DB075;
    border-radius: 10px;
}

.NameLogo{
    padding-top: 0.7vw;
    color: black;
    text-align: center;
    width: 60%;
    font-size: 2vw;
    font-family: 'Amaranth', sans-serif;;
}
.NameLogo.closed{
    display: none;
}

.donne{
    width: 98%;
    height: 40px;
    padding-top: 15px;
    text-align: center;
    border: 2px solid #5DB075;
    border-radius: 10px;
    margin-top: 100px;
    color: #5DB075;
    font-size: 1.2vw;
    font-weight: 900;
    font-family: 'Amaranth', sans-serif;;
    
}

.donne img{
    display: none;
}

.donne.closed{
    width: 70%;
    height: 55px;
    padding-top: 0px;
    text-align: center;
    border: 2px solid #5DB075;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    color: #5DB075;
    font-weight: 900;
    font-family: 'Amaranth', sans-serif;
}

.donne.closed span{
    display: none;
}

.donne.closed img{
    display: flex;    
    height: 100%;
    width: 100%;
}



.carteButton{

    width: 90%;
    height: 30px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    color: #5DB075;
    
    font-size: 1.2vw;
    font-weight: 900;
    font-family: 'Amaranth', sans-serif;;
    
}

.carteButton:hover{
    background-color: #ECFFF1;
    
}

.carteButton.markers-not-allowed{
    background-color: #ECFFF1;
}

.carteButton.closed{

    width: 70%;
    height: 30px;
    margin: auto;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
    color: #5DB075;
    
    background-color: none;
    font-size: 1.2vw;
    font-weight: 900;
    font-family: 'Amaranth', sans-serif;;
    
}

.carteButton.closed > div{
    display: none;    
}

.MapIconButton{
    background-color: #ECFFF1;
    color: #5DB075;
    border: none;
}

.MapIconButton.closed{
    background-color: #ECFFF1;
    color: #5DB075;
    border: none;
    width: 3vw;
    height: 3vw;
    border-radius: 15px;
    font-size: 2vw;
}
.MapIconButton.closed:hover{
    background-color: #7A817A;
}

.depots{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 1vw;
    margin: auto;
    margin-top: 20px;
    color: #7A817A;
}

.depots.markers-allowed{
    background-color: #ECFFF1;
}

.depots:hover{
    background-color: #ECFFF1;
    
}

.depots > div{
    margin-top: 5px;
}

.depots.closed{
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    color: #7A817A;

}

.depots.closed > div{
    display: none;
}

.TrendingUpButton{
    border: none;
    background-color: white;
}

.TrendingUpButton.closed{
    border: none;
    background-color: white;
    width: 3vw;
    height: 3vw;
    border-radius: 15px;
    font-size: 2vw;
}

.TrendingUpButton.closed:hover{
    background-color: #7A817A;
}

.reduire{
    position: absolute;
    width: 90%;
    height: 25px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    
    color: #7A817A;
    bottom: 40px;
}
.reduire.closed{
    width: 70%;
    height: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    
    color: #7A817A;
}

.reduire.closed > div{
    display: none;
}

.reduire > div{
    padding-top: 5px;
}

.reduireButton{
    border: none;
    background-color: white;
}

.reduireButton.closed{
    border: none;
    background-color: white;
    width: 2vw;
    height: 2vw;
    border-radius: 15px;
    font-size: 2vw;
}

.reduireButton.closed:hover{
    background-color: #7A817A;
}

.deconnect{
    position: absolute;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: auto;
    left: 12px;
    bottom: 0;
    
    color: #7A817A;
}

.deconnect.closed{
    width: 70%;
    height: 25px;
    margin: auto;
    margin-top: -15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    color: #7A817A;
    left: 0;
}

.deconnect.closed > div{
    display: none;
}

.deconnect > div {
    padding-top: 5px;
}

.deconnectButton{
    border: none;
    background-color: white;
}

.deconnectButton.closed{
    border: none;
    background-color: white;
    width: 2vw;
    height: 2vw;
    border-radius: 15px;
    font-size: 2vw;
}

.deconnectButton.closed:hover{
    background-color: #7A817A;
}



button:hover{
    border-radius: 15px;
    background-color: #7A817A;
}

